<!-- header -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>GoGlow: Product Claymasks </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Jual Masker Wajah Murah, Sheet Mask, Clay Mask, Peel Off, Gel Mask, Scrub Mask, Powder Mask" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="<?php echo base_url(); ?>assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/font-awesome.min.css" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="<?php echo base_url(); ?>assets/js/jquery-1.11.1.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/bootstrap.js"></script>

</head>

<body>
<div class="header">
	<div class="container">
		<div class="logo">
			<a href="<?php echo base_url(''); ?>Home"><img src="<?php echo base_url(); ?>assets/images/logo.png" alt="logo" style="width: 17%" /></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="header-bottom-w3ls">
	<div class="container">
		<div class="col-md-6 navigation-agileits">
			<nav class="navbar navbar-default">
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav ">
						<li class=" "><a href="<?php echo base_url(); ?>Home" class="hyper "><span>Home</span></a></li>	
						<li class="dropdown active ">
							<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Product<b class="caret"></b></span></a>
								<ul class="dropdown-menu">
									<li><a href="<?php echo base_url(''); ?>Home/claymask"><i class="fa fa-angle-right" aria-hidden="true"></i>Clay Mask</a></li>
									<li><a href="<?php echo base_url(''); ?>Home/sheetmask"><i class="fa fa-angle-right" aria-hidden="true"></i>Sheet Mask</a></li>
									<li><a href="<?php echo base_url(''); ?>Home/peeloff"> <i class="fa fa-angle-right" aria-hidden="true"></i>Peel Off</a></li>
									<li><a href="<?php echo base_url(''); ?>Home/gel"><i class="fa fa-angle-right" aria-hidden="true"></i>Gel Mask</a></li>
									<li><a href="<?php echo base_url(''); ?>Home/scrub"><i class="fa fa-angle-right" aria-hidden="true"></i>Scrub Mask</a></li>
									<li><a href="<?php echo base_url(''); ?>Home/powder"><i class="fa fa-angle-right" aria-hidden="true"></i>Powder Mask</a></li>
								</ul>
						</li>
						
						<li><a href="<?php echo base_url(''); ?>Home/about" class="hyper"><span>About</span></a></li>
						
					</ul>
				</div>
			</nav>
		</div>
								<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
				</script>
		<div class="col-md-3 search-agileinfo">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
			</form>
		</div>
		<div class="col-md-1 cart-wthree">
			<div class="cart"> 
				<form action="<?php echo base_url(); ?>Home/keranjang" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>  
			</div>
		</div>
		<div class="col-md-2 navigation-agileits">
			<nav class="navbar navbar-default">
				
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav ">
						<li><a href="<?php echo base_url(); ?>Home/login" class="hyper"><i class="fa fa-user"></i>Login</a><li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- isi -->
<div class="content">
	<div class="container">
		<div class="col-md-4 w3ls_dresses_grid_left">
			
			
			<div class="w3ls_dresses_grid_left_grid">
				<div class="dresses_img_hover">
					<img src="<?php echo base_url(); ?>assets/images/diskonsheet.jpg" alt=" " class="img-responsive" />
					<div class="dresses_img_hover_pos">
						<h4>Upto<span>10%</span><i>Off</i></h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8 women-dresses">
			<div class="women-set1">
				<div class="col-md-4 women-grids wp1 animated wow slideInUp" data-wow-delay=".5s">
					<a href="<?php echo base_url(''); ?>Home/single"><div class="product-img">
						<img src="<?php echo base_url(); ?>assets/images/sheetmask1.jpg" alt="" />
						<div class="p-mask">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" /> 
								<input type="hidden" name="w3ls1_item" value="Innisfree Sheet Mask (Coconut)" /> 
								<input type="hidden" name="amount" value="20000," /> 
								<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
							</form>
						</div>
					</div></a>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star gray-star" aria-hidden="true"></i>
					<h4>Innisfree Sheet Mask (Coconut)</h4>
					<h5>Rp 20.000</h5>
				</div>
				<div class="col-md-4 women-grids wp2 animated wow slideInUp" data-wow-delay=".5s">
					<a href="<?php echo base_url(''); ?>Home/single"><div class="product-img">
						<img src="<?php echo base_url(); ?>assets/images/sheetmask2.png" alt="" />
						<div class="p-mask">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" /> 
								<input type="hidden" name="w3ls1_item" value="Innisfree Sheet Mask (Cucumber)" /> 
								<input type="hidden" name="amount" value="20000," /> 
								<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
							</form>
						</div>
					</div></a>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star gray-star" aria-hidden="true"></i>
					<h4>Innisfree Sheet Mask (Cucumber)</h4>
					<h5>Rp 20.000</h5>
				</div>
				<div class="col-md-4 women-grids wp2 animated wow slideInUp" data-wow-delay=".5s">
					<a href="<?php echo base_url(''); ?>Home/single"><div class="product-img">
						<img src="<?php echo base_url(); ?>assets/images/sheetmask4.jpg" alt="" />
						<div class="p-mask">
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" /> 
								<input type="hidden" name="w3ls1_item" value="Innisfree Sheet Mask (Greentea)" /> 
								<input type="hidden" name="amount" value="20000," /> 
								<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
							</form>
						</div>
					</div></a>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star yellow-star" aria-hidden="true"></i>
					<i class="fa fa-star gray-star" aria-hidden="true"></i>
					<h4>Innisfree Sheet Mask (Greentea)</h4>
					<h5>Rp 20.000</h5>
				</div>
				
				<div class="clearfix"></div>
			</div>
			
			
				
			</div>
		</div>
	</div>
</div>
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-6 footer-grids fgd1">
		<a href="index.html"><h3>GoGlow</h3></a>
		<ul>
			<li>Pogung Baru Blok A</li>
			<li>DI Yogyakarta.</li>
			<li><a href="mailto:goglow@gmail.com">goglow@gmail.com</a></li>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</ul>
		</div>
		<div class="col-md-6 footer-grids fgd2">
			<h4>Contact Us:</h4> 
			<ul>
				<form action="#" method="post" id="contact_us">
					<input type="text" width="800" ="" name="name" placeholder="Nama" required=""><br><br>
					<input type="email" width="800"name="email" placeholder="Email" required=""><br><br>
					<input type="text" width="800"name="phone" placeholder="Nomor Hp" required=""><br><br>
					<textarea name="question" width="800" form="contact_us">Masukkan pertanyaanmu</textarea><br><br>
					<button type="submit" class="btn btn-default">Send</button>
			</form>
			</ul>
		</div>
		
		<div class="clearfix"></div>
		<p class="copy-right">© 2020 GoGlow Masker Wajah </p>
	</div>
</div>
	<!-- cart-js -->
	<script src="<?php echo base_url(); ?>assets/js/minicart.js"></script>
	<script>
        w3ls1.render();

        w3ls1.cart.on('w3sb1_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->  

</body>
</html>