<!-- banner -->
<div class="banner-agile">
	<div class="container">
		<h2>INNISFREE CLAY MASK</h2>
		<h3>SALE UP TO <span>25%</span></h3>
		<p>Diskon Innisfree Jeju Volcanic Clay Mask hingga 25%
			<br>sampai 31 Desember 2018. </p>
		<a href=" ">Read More</a>
	</div>
</div>

<!-- product -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href=" "><div class="bb-left-agileits-w3layouts-inner">
					<h3>SCRUB MASK</h3>
			</div></a>
		</div>
		<div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
			<a href=" "><div class="bb-middle-top">
				<h3>POWDER MASK</h3>
			</div></a>
			<a href=" "><div class="bb-middle-bottom">
				<h3>SHEET MASK</h3>
			</div></a>
		</div>
		<div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
			<a href=" "><div class="bb-right-top">
				<h3>GEL MASK</h3>
			</div></a>
			<a href=" "><div class="bb-right-bottom">
				<h3>CLAY MASK</h3>
			</div></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
